<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/qt.min.css">
    <link rel="stylesheet" href="/public/manifest.json">
    <meta name="theme-color" content="#E0B0FF">
    <meta name="description" content="author: Laiba Choudhry">

</head>

<body>
<header>
    <%- include('partials/header.ejs'); %>
</header>

<section id="about" >
    <h3>About</h3>
    <p> "As a student front-end developer i want to look at affirmative web design quotes, so that imposter syndrome doesn't hit me hard."
        Is the userstory i chose to pursue for this project. 
        I myself have experienced imposter syndrome and if i can help a struggling student out with imposter syndrome, that would mean a lot to me.
    </p>

</main>



<%- include('partials/footer.ejs'); %>
    
</body>