<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="/public/css/qt.min.css">
    <link rel="manifest" href="/public/manifest.json">
    <meta name="theme-color" content="#E0B0FF">
</head>
<body>

    <%- include('partials/header.ejs'); %> 
   
    <main>
        <img src="img/notepad.svg" alt="een kladblokje">

        <section id="home" class="page-content">
            <h1>Author</h1>
                <ul>
                    <% data.forEach(function(quote){ %>
                        <li> <a href="/quotes/<%= quote.authorId %>">
                            <%- quote.author %>
                        </a> </li>
                    <% }); %>
                </ul>
        </section>
    </main>

<%- include('partials/footer.ejs'); %>

</body>
</html>