<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>offline page</title>
    <link rel="stylesheet" href="/css/qt.min.css">
    <meta name="theme-color" content="#E0B0FF">
    <meta name="description" content="author: Laiba Choudhry">
</head>
<body>
    <main>
        <section id="offline">
            <h1>oh oh! you are currently offline, please check your settings.
            </h1>
    </section>
</body>
</html>